<!-- Nav Bar -->
{% include "header.html"%}
{% set active_page = "about" %}
<!-- End Nav Bar -->
<!-- Main Content-->
<div class="container pt-5">
  <div class="text-center">
    <h4><strong>ABOUT US</strong></h4>
  </div>
  <!-- Section: Features v.1 -->
  <section id="products" class="text-center wow fadeIn" data-wow-delay="0.3s">
    <!-- Section heading -->
    <h1 class="font-weight-bold text-center h1 my-5">Process We Follow!</h1>
    <!-- Section description -->
    <p class="text-center grey-text mb-5 mx-auto w-responsive lead">A process is a series of actions which are carried out in order to achieve a particular result.</p>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 mb-4">
        <i class="fas fa-4x fa-chart-area pink-text"></i>
        <h4 class="font-weight-bold my-4">Analytics</h4>
        <p class="grey-text">Analytics is the systematic computational analysis of data or statistics. It is used for the discovery, interpretation, and communication of meaningful patterns in data. It also entails applying data patterns towards effective decision-making.</p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-4 mb-4">
        <i class="fas fa-4x fa-pencil-alt cyan-text"></i>
        <h4 class="font-weight-bold my-4">Design</h4>
        <p class="grey-text">A design is a plan or specification for the construction of an object or system or for the implementation of an activity or process, or the result of that plan or specification in the form of a prototype, product or process.</p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-4 mb-4">
        <i class="fas fa-4x fa-laptop indigo-text"></i>
        <h4 class="font-weight-bold my-4">Development</h4>
        <p class="grey-text">This is a process of ensuring that adoption of technology in classroom instruction follows sequentially from the stage of procurement of technology resources to acquisition of technological skills and lastly utilization of such skills to achieve set goals.</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </section>
  <!-- Section: Features v.1 -->
</div>
<!-- End Main Content-->
<!-- Footer -->
{% include "footer.html" %}
<!-- End of Footer -->