<!-- Header & Nav Bar -->
{% include "header.html"%}
{% set active_page = "home" %}
<!-- End of Header & Nav Bar -->
<!-- Carousel -->
<div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark" data-mdb-ride="carousel">
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <img src="https://wallpaperaccess.com/full/1536558.jpg" height="583px" width="1320px" class="d-block w-100 setblur" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h3 id="currentTime"></h3>
      </div>
    </div>
  </div>
  <!-- End Carousel -->
  <!-- Main Content-->
  <!-- End Main Content-->
  <!-- Footer -->
  {% include "footer.html" %}
  <!-- End of Footer -->
